<div  [@routerTransition]>
    <app-page-header [heading]="'Players'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Spieler</div>
                <div class="card-block table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Lizenz</th>
                            <th>Vorname</th>
                            <th>Nachname</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let player of players">
                            <th scope="row">{{player.license}}</th>
                            <td>{{player.firstname}}</td>
                            <td>{{player.lastname}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
