<div  [@routerTransition]>
    <app-page-header heading="{{'Players' | translate}}" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-block table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th></th>
                            <th>{{'Lizenz' | translate}}</th>
                            <th>Vorname</th>
                            <th>Nachname</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let player of players">
                            <td><img
                                [attr.src]="'https://db.swingolf.at/assets/images/players/small/'+player.license+'.jpg'"
                                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'"
                                width="50" #img></td>
                            <th scope="row"><a routerLink="../playerdetail/{{player.license}}">{{player.license}}</a></th>
                            <td>{{player.firstname}}</td>
                            <td>{{player.lastname}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
