<h2 class="text-muted">{{players[0].firstname}} {{players[0].lastname}} / {{players[0].license}}</h2>
<hr>
<div class="row">
    <div class="col-sm-4">
        <div class="card mb-3">
            <div class="card-header card-default">
                Handicap
            </div>
            <div class="card-block">
                <h1>TBD</h1>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header card-default">
                Turniere heuer
            </div>
            <div class="card-block">
                <h1>{{thisyeartournamentslength}}</h1>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header card-default">
                Bester Score heuer
            </div>
            <div class="card-block">
                <h1>TBD</h1>
            </div>
        </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-4">
        <div class="card mb-3">
            <div class="card-header card-default">
                Kategorie
            </div>
            <div class="card-block bg-white">
                <h1>TBD</h1>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header card-default">
                Alle Turniere
            </div>
            <div class="card-block bg-white">
                <h1>{{alltournamentslength}}</h1>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header card-default">
                Bester Score (jeher)
            </div>
            <div class="card-block">
                <h1>TBD</h1>
            </div>
        </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-4">
    <div class="card mb-3">
    <div class="card-header">

    </div>
    <div class="card-block bg-white">
        <img [attr.src]="playerURL" width="100%"/>
    </div>
    </div>
    </div>

</div>
<hr>
<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-block table-responsive">
                <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{{'Previous Tournaments' | translate}}</th>
                        <th>{{'Date' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let tournament of previoustournaments">
                        <th scope="row"><a routerLink="../../tournamentdetail/{{tournament.id}}">{{tournament.name}}</a></th>
                        <td>{{tournament.from | date:'dd.MM.yyyy'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
