<div  [@routerTransition]>
    <app-page-header [heading]="'Tournaments'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Tournaments</div>
                <div class="card-block table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Turnier</th>
                            <th>Datum</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let tournament of tournaments">
                            <th scope="row">{{tournament.name}}</th>
                            <td>{{tournament.from | date:'dd.MM.yyyy'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
