<div  [@routerTransition]>
    <app-page-header [heading]="'Clubs'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Vereine</div>
                <div class="card-block table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let club of clubs">
                            <th scope="row">{{club.name}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
