<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/001-0010"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/001-0010.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/001-0017"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/001-0017.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/001-0033"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/001-0033.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/002-0004"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/002-0004.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/002-0011"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/002-0011.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/002-0012"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/002-0012.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/002-0030"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/002-0030.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/002-0031"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/002-0031.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/003-0001"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/003-0001.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/003-0022"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/003-0022.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/004-0027"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/004-0027.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/005-0005"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/005-0005.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/005-0008"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/005-0008.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/006-0003"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/006-0003.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/006-0011"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/006-0011.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/006-0015"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/006-0015.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/006-0016"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/006-0016.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/006-0017"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/006-0017.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/006-0021"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/006-0021.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0005"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0005.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0007"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0007.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0012"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0012.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0016"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0016.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0020"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0020.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0022"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0022.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0024"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0024.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0026"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0026.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0028"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0028.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0029"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0029.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/007-0030"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/007-0030.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/009-0004"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/009-0004.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/009-0005"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/009-0005.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/009-0010"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/009-0010.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/009-0011"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/009-0011.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/009-0032"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/009-0032.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/009-0037"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/009-0037.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/010-0002"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/010-0002.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/010-0003"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/010-0003.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/010-0010"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/010-0010.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/010-0013"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/010-0013.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/010-0019"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/010-0019.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/010-0025"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/010-0025.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/010-0026"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/010-0026.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/010-0029"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/010-0029.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/010-0040"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/010-0040.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/011-0001"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/011-0001.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/011-0027"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/011-0027.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/011-0029"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/011-0029.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/011-0031"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/011-0031.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/012-0010"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/012-0010.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/012-0024"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/012-0024.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/014-0001"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/014-0001.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/014-0002"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/014-0002.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/014-0003"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/014-0003.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
        <div class="col-xl-3 col-lg-6">
            <td><a routerLink="../playerdetail/014-0007"><img
                [attr.src]="'https://db.swingolf.at/assets/images/players/014-0007.jpg'"
                (error)="img.src = 'https://db.swingolf.at/assets/images/players/small/noimage.jpg'" width="100%" #img></a>
            </td>
        </div>
    </div>
    <hr/>

    <!--<ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>-->
    <!--<hr />-->
    <!--<div class="row">-->
        <!--<div class="col-lg-8">-->
            <!--<div class="card card-default">-->
                <!--<div class="card-header">-->
                    <!--<i class="fa fa-clock-o fa-fw"></i> Responsive Timeline-->
                <!--</div>-->
                <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
                <!--<app-timeline></app-timeline>-->
                <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col-lg-8 &ndash;&gt;-->
        <!--<div class="col-lg-4">-->
            <!--<div class="card card-default">-->
                <!--<div class="card-header">-->
                    <!--<i class="fa fa-bell fa-fw"></i> Notifications card-->
                <!--</div>-->
                <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
                <!--<app-notification></app-notification>-->
                <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card &ndash;&gt;-->

            <!--<app-chat></app-chat>-->
            <!--&lt;!&ndash; /.card .chat-card &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
    <!--</div>-->
</div>
